@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Impact";
  src: local("Impact");
}

body {
  margin: 0;
  padding: 0;
  background: black;
}

.font-impact {
  font-family: "Impact", system-ui, -apple-system, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}
